@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left" id="main-content">

    <h1>Test questions</h1>

    <ul>
        <li><a href="/Q2FsY3VsYXRlIHRoaXMgZm9ybXVsYTogMyArIDI=" target="_blank">Calculate this formula: 3 + 2</a></li>
        <li><a href="/Q2FsY3VsYXRlIHRoaXMgZm9ybXVsYTogMyArIDc=" target="_blank">Calculate this formula: 3 + 7</a></li>
        <li><a href="/Q2FsY3VsYXRlIHRoaXMgZm9ybXVsYTogU3FydCg0KQ==" target="_blank">Calculate this formula: Sqrt(4)</a></li>
    </ul>
    Go to <a href="/Incoming">Incoming</a> to see live incoming questions

</div>
